<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-primary justify-content-between">

            <a routerLink="/addbook" class="navbar-brand ">Add Book</a>
            <a routerLink="/book" class="navbar-brand ">Go To Book Details</a>
          </nav>
        <div class="container">

            <div class="booksHomePage">
                <img src="../../assets/tom-hermans-9BoqXzEeQqM-unsplash.jpg" class="img-fluid" alt="" srcset="">
                <h2>Welcome to book Management System</h2>
   
            </div>

        </div>

    </div>

</body>

</html>