.booksHomePage{
    position: relative;
}

p{
    position: absolute;
    top: 10px;
    left: 10px;
}
img{
    width: 100%;
}
a{
    display: block;
    margin: 4%;
    width: 50%;
    color: white;
    margin: 1%;
    font-weight: bold;
}
